html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.activeChat {
  background-color: #65a58f;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);

  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.thumbnailImage {
  width: 80px;
}

.currentUserOptionsContainer {
  height: 10%;
  background-color: blueviolet;
  width: 100%;
}

.personsOverviewContainer {
  display: flex;
  flex-direction: column;

  height: 90%;
}

.borderRight {
  border-right: 1px solid grey;
}

.page {
  margin: auto;
  max-width: 900px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh; /*or use calc(100vh - header_height)*/
}

.header {
  display: flex;
  justify-content: center;
  height: 60px;
}

.headerContentLeft {
  display: flex;

  width: 30%;
  height: 50px;
}

.headerContentRight {
  width: 80%;
}

.welcomeText {
  font-size: x-large;
}

.currentUserImageContainer {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.currentUserImage {
  max-height: 80%;
}

.rightcontentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.conversationBoxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  position: relative;
}

.conversationBoxScrollable {
  display: flex;
  flex-direction: column;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.messageBoxContainer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.messageBox {
  display: flex;
  width: 100%;
}

.singleMessageBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  margin: 20px;
  background-color: aliceblue;
}

.contactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
  color: aliceblue;
  font-size: large;
  border-bottom: 1px solid grey;
}

.textinputForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.messageTextArea {
  height: 70%;
  max-width: 500px;
  border-radius: 10px;
  color: blueviolet;
  border: none;
  padding: 20px;

  resize: none;
}

.sendButton {
  width: 60%;
}

textarea::placeholder {
  color: #fff;
}

.speech-bubble-left {
  position: relative;
  background: #418796;
  border-radius: 0.4em;
  margin-top: 45px;
  width: 50%;
  padding: 15px;
  color: white;
}

.speech-bubble-left:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 43px solid transparent;
  border-bottom-color: #418796;
  border-top: 0;
  border-left: 0;
  margin-left: -21.5px;
  margin-top: -20px;
}

.speech-bubble-right {
  position: relative;
  background: #419678;
  border-radius: 0.4em;
  margin-top: 45px;
  width: 50%;
  right: 0;
  padding: 15px;
  color: white;
}

.speech-bubble-right:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 43px solid transparent;
  border-bottom-color: #419678;
  border-top: 0;
  border-right: 0;
  margin-left: -21.5px;
  margin-top: -20px;
}
